@font-face {
    font-family: inter;
    src: url(/inter/);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: auto;
}


.top_nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    font-size: small;
    background-color: #eeeeee;
    padding: 3px;
}


.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #d0d0d0;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    font-size: medium;
    background-color: #d0d0d0;
    padding: 1vh;
}


/* nav bar things */
ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-family: "inter";
}



.logo {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 4px;
}




.billboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#ffffff 40%, rgb(62, 62, 62) 40%);
    padding-left: 10vh;
    padding-right: 10vh;
}

.billboard_textbox {
    font-family: "inter";
    padding: 1vh;
    max-width: 500px;
}

h1 {
    font-size: 40pt;
    color:rgb(62, 62, 62)
}


h2{
    font-size: 15pt;
    color: #eeeeee;
    margin-top: 3em;
}

p{
    font-size: 10pt;
    color: #eeeeee;
    margin-top: 2em;
}

.test {
    width: auto;
    height: 600px;
}

.polaroid_img {
    max-width: 650px;
    max-height: 650px;
}