@font-face { /* inter regular*/
    font-family:interregular;
    src: url(./inter/Inter-Regular.ttf);
}

@font-face { /* inter bold*/
    font-family:interbold;
    src: url(./inter/Inter-Bold.ttf);
}

@font-face { /* inter bold*/
    font-family:interblack;
    src: url(./inter/Inter-Black.ttf);
}

@font-face { /* inter medium*/
    font-family:intermedium;
    src: url(./inter/Inter-Medium.ttf);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container { /* full page container*/
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: auto;
}


.top_nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    font-size: small;
    background-color: #eeeeee;
    padding: 3px; 
}


.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #d0d0d0;
    padding-inline-start: 5vh;
    padding-inline-end: 5vh;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    font-size: medium;
    background-color: #d0d0d0;
    padding: 1vh;
}

.shopping-bag-icon {
    padding-left: 10px;
}


.header-search-and-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;

}


/* nav bar things */
ul li a {
    padding: 2vh;   /*padding between header options*/
    text-decoration: none; 
    color: #000000;
    text-align: center;
    font-family: 'intermedium';
}



.logo {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 4px;
}




.billboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(#ffffff 35%, rgb(58, 58, 58) 35%);
    padding-left: 10vh;
    padding-right: 10vh;
}

.billboard_textbox {
    display: flex;
    flex-direction: column;
    padding: 1vh;
    max-width: 500px;
    gap: 6vh;
}

.billboard_textbox h1 {
    font-family: 'interbold';
    font-size: 40pt;
    color:rgb(58, 58, 58)
}


.billboard_textbox h2 {
    font-family: 'interregular';
    font-size: 14pt;
    color: #eeeeee;
}

.billboard_textbox p{
    font-family: 'interregular';
    font-size: 10pt;
    color: #eeeeee;
    line-height: 1.5em; /* space between lines of text in header*/
}

.polaroid_img {
    height: auto;
    width: auto;

}

.searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbar {
    width: auto;
    height: auto;
    background-color: #ffffff;
    border-radius: 15px;
    
}

.searchbar form {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #000000;  /*border around search bar*/
    border-radius: 15px; /*roundness of box around input field*/
    background-color: rgb(255, 255, 255);

}

.searchbar form input {
    border: none;
    outline: none;
    box-shadow: none; /*input form style*/
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 15px;   /*roundness of input field*/
}

.searchbar form i {
    padding-left: 10px;
}

.billboard_textbox a {
    display: inline-block;
    width: fit-content;
    padding: 1vh 3vh;
    background-color: #ffffff;
    color: #000000;
    font-family: 'intermedium';
    border-radius: 30px;
    text-decoration: none;
    font-size: 12pt;

}



.trending-container {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
}

.trending-items-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.trending-headline {
    display: flex;
    background-color: #ffffff;
    padding: 2%;
}

.trending-headline h3 {
    font-family: "intermedium";
    font-size: 17pt;
}

.picture-spacing-container{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.picture-spacing {
    width: 100%;
    height: auto;
}


.product-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.product-details {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    gap: 1vh;
}



.product-details h1{
    font-family: "interregular";
    font-size: 13pt;
    color: #6c6c6c;
    
}

.product-details h2{
    font-family: "interbold";
    font-size: 32pt;
}

.product-details h3{
    font-family: "interbold";
    font-size: 17pt;
}


.product-details h4{
    font-family: "intermedium";
    font-size: 12pt;
    margin-top: 15px
}

.product-details p {
    font-family: "interregular";
    font-size: small;
}




.footer {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 5%;
    background-color: #5d5d5d;

}



.buy-btn {
    display: flex;
    flex-direction: center;
    align-items: center;
    background-color: #000000; /* Green */
    border: none;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 12pt;
    max-width: 170px;
    font-family: "intermedium";
    cursor: pointer;
    justify-content: center;
  }

.buy-btn:hover{
    background-color: #232323;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 100%;
    gap: 20px;
    height: 500px;
}

.cart-container ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: "intermedium";
    width: 1000px;
}

.cart-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


.cart-item-info {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-right: 20px;
}

.imageNameSpacing {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.imageNameSpacing img{
    margin-right: 20px;
}


.cart-item{
    display: flex;
    justify-content: space-between;
}

.cart-remove-button {
    background-color: #000000; /* Green */
    border: none;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
    font-size: 12pt;
    max-width: 170px;
    font-family: "intermedium";
    cursor: pointer;
    justify-content: center;
}

.continue-checkout-btn{
    background-color: #04AA6D;
    color: white;
    border: none;
    text-decoration: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 12pt;
    max-width: 250px;
    font-family: "intermedium";
    cursor: pointer;
    justify-content: center;
    border-radius: 3px;
}

.total {
    font-size: 13pt;
    font-family: "intermedium";
}


.continue-checkout-btn:hover {
    background-color: #45a049;
  }





.checkout-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-family: "interregular";
    padding: 2%;
}


.billing-adress {
    display: flex;
    flex-direction: column;
}

.payment {
    display: flex;
    flex-direction: column;
}

input[type=checkout-text] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 5px;
  }


.checkout-btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.checkout-btn:hover {
  background-color: #45a049;
}


























@media (max-width: 1000px){
    .billboard{
        display: flex;
        flex-direction: column;
    }

    .trending-container{
        display: flex;
        flex-direction: column;
        width: auto;

    }

    .trending-items-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2vh;
    }

    .trending-headline{
        padding: 5%;
    }

    .polaroid_img{
        display: none;
    }

    .billboard {
        width: 100%;
        height: 100%;
        background: url(./images/mobile_header.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .billboard_textbox{
        width: auto;
        height: auto;
    }

    .billboard_textbox h1 {
        font-family: 'interbold';
        font-size: 40pt;
        color: #eeeeee;
    }

}


@media (max-width: 635px){
    .header{
        padding: 0;
    }

    .searchbar{
        display: none;
    }

    .polaroid_img {
        max-width: 30%;
        height: auto;
    }

    .billboard{
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5%;
    }

    .billboard_textbox {
        padding: 1vh;
        width: auto;
        gap: 2vh;

    }

    .trending-container{
        display: flex;
        flex-direction: column;
        width: auto;
        
    }


    .product-page{
        display: flex;
        flex-direction: column;
    }

    .product-image{
        max-width: 440px;
    }

    .product-details{
        max-width: 100%;
        margin: 2%;
    }

    .billboard_textbox h1 {
        font-family: 'interbold';
        font-size: 30pt;
        color: #eeeeee;
    }

    .billboard_textbox h2 {
        font-family: 'interregular';
        font-size: 12pt;
        color: #eeeeee;
    }
    
    .billboard_textbox p{
        font-family: 'interregular';
        font-size: 8pt;
        color: #eeeeee;
        line-height: 1.5em; /* space between lines of text in header*/
    }

    .billboard_textbox a {
        display: inline-block;
        width: fit-content;
        padding: 1vh 3vh;
        background-color: #ffffff;
        color: #000000;
        font-family: 'intermedium';
        border-radius: 30px;
        text-decoration: none;
        font-size: 10pt;
    
    }
}