@font-face { /* inter regular*/
    font-family:interregular;
    src: url(./inter/Inter-Regular.ttf);
}

@font-face { /* inter bold*/
    font-family:interbold;
    src: url(./inter/Inter-Bold.ttf);
}

@font-face { /* inter bold*/
    font-family:interblack;
    src: url(./inter/Inter-Black.ttf);
}

@font-face { /* inter medium*/
    font-family:intermedium;
    src: url(./inter/Inter-Medium.ttf);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: auto;
}


.top_nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    font-size: small;
    background-color: #eeeeee;
    padding: 3px; 
}


.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #d0d0d0;
    padding-inline-start: 5vh;
    padding-inline-end: 5vh;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    font-size: medium;
    background-color: #d0d0d0;
    padding: 1vh;
}



.header-search-and-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;

}


/* nav bar things */
ul li a {
    padding: 2vh;   /*padding between header options*/
    text-decoration: none; 
    color: #000000;
    text-align: center;
    font-family: 'intermedium';
}



.logo {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 4px;
}




.billboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(#ffffff 35%, rgb(58, 58, 58) 35%);
    padding-left: 10vh;
    padding-right: 10vh;
}

.billboard_textbox {
    display: flex;
    flex-direction: column;
    padding: 1vh;
    max-width: 500px;
    gap: 6vh;
}

h1 {
    font-family: 'interbold';
    font-size: 40pt;
    color:rgb(58, 58, 58)
}


h2 {
    font-family: 'interregular';
    font-size: 14pt;
    color: #eeeeee;
}

p{
    font-family: 'interregular';
    font-size: 10pt;
    color: #eeeeee;
    line-height: 1.5em; /* space between lines of text in header*/
}

.test {
    width: auto;
    height: 600px;
}

.polaroid_img {
    height: auto;
    width: auto;

}

.searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbar {
    width: auto;
    height: auto;
    background-color: #ffffff;
    border-radius: 15px;
    
}

.searchbar form {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #000000;  /*border around search bar*/
    border-radius: 15px; /*roundness of box around input field*/
    background-color: rgb(255, 255, 255);

}

.searchbar form input {
    border: none;
    outline: none;
    box-shadow: none; /*input form style*/
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 15px;   /*roundness of input field*/
}

.searchbar form i {
    padding-left: 10px;
}

.billboard_textbox a {
    display: inline-block;
    width: fit-content;
    padding: 1vh 3vh;
    background-color: #ffffff;
    color: #000000;
    font-family: 'intermedium';
    border-radius: 30px;
    text-decoration: none;
    font-size: 12pt;

}


@media (max-width: 990px){

}